* {
  background-color: #0f172a;
  color: #cbd5e1;
  /* text-align: center; */
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

ul {
  display: table;
  margin: 0 auto;
  text-align: left;
}

ol {
  list-style-position: inside;
}

li {
  margin-bottom: 2%;
  padding-right: 12px;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
}
.heading {
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
}

.hr-rounded {
  border-bottom: 6px solid #cbd5e1;
  border-radius: 4px;
  max-width: 50%;
}

.recipe-list {
  list-style-type: none;
  font-size: 25px;
  /* padding-right: 12px; */
}

.recipe-link,
.recipe-link a {
  background-color: #334155;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

.recipe-link {
  padding: 10px 23px;
  margin-top: 5px;
  border-radius: 100px;
  transition: 0.1s;
  cursor: pointer;
}
.recipe-link a {
  padding: 6px 6px;
  border-radius: 20px;
}

.recipe-link:hover {
  background-color: #0f172a;
}

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 900

.playfair-display-<uniquifier> {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
